.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h1 {
  font-family:Impact, 'Arial Narrow Bold', sans-serif;
  font-size: larger;
}

.mov {
  color: #1a4854;
  font-family: tahoma;
  margin: auto;
}
.right {
  color:rgb(99, 107, 180);
  font-family: cambria;
  
}

.starList {
  color:rgb(164, 157, 45);
src:"https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/1542681/4531/4008/m1/fpnw/wm1/star-18-.jpg?1470822121&s=8482c797df800829ac14686afab712d6";
}